[submodule "icicles"]
	path = icicles
	url = https://github.com/emacsmirror/icicles.git
[submodule "nxhtml"]
	path = nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "apel"]
	path = apel
	url = https://github.com/jeffgran/APEL.git
[submodule "readline-complete.el"]
	path = readline-complete.el
	url = https://github.com/monsanto/readline-complete.el.git
[submodule "jg-quicknav"]
	path = jg-quicknav
	url = git@github.com:jeffgran/jg-quicknav.git
